@import url(http://fonts.googleapis.com/css?family=Varela+Round);

html, body{
    font-family: 'Varela Round', sans-serif;
}

.navbar-inverse {
    background-color: #2B4049;
    border-color: #2B4049;
}

.navbar-brand > img {
    width: 130px;
}

.navbar-header {
    width: 160px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0px!important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    right: 0px!important;
    left: auto!important;
    top: auto!important;
    bottom: auto!important;
    box-shadow: none!important;
    width: auto!important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #FFF;
    background-color: transparent;
}

/* ROOM */

.room-container{
    background: #ECF0F1;
}

.flex-tab{
    background:#fff;
}

.main-content.flex-opened .flex-tab {
    margin-top: 50px;
}

.flex-tab{
    width: 18%;
    background: #15252D;
}
.main-content.flex-opened {
    right: 18%;
}

.side-nav{
    margin-top: 50px;
    padding: 0;
}

.side-nav, .side-nav .rooms-list {
    background: #fff;
    box-shadow: none;
    height: 100%;
}

.avatar{
    border-radius: 0;
}

.side-nav .rooms-list {
    direction: ltr;
    top:0;
    border:none;
    box-shadow: none;
}

.navbar-inverse .navbar-nav > li{
    float: left;
}

.navbar-inverse .navbar-nav > li > a {
   color:#fff;
    padding: 5px 6px !important;
    border-radius: 50%;
    box-shadow: none;
}

.navbar-right{
    margin-right: 15px;
    margin-top:7px;
}

.navbar-right li h4{
    color: #E2E8EA;
    margin-top: 5px;
    font-size: 1.2em;
}

.navbar-right li h4:after {
    content: " ";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: 10;
    border-radius: 4px;
    top: 11px;
    left: -15px;
}

.navbar-right li.status-online h4:after {
    border-color: #57B869;
    background-color: #57B869;
}

.navbar-right li.status-away h4:after {
    border-color: #ECBA50;
    background-color: #ECBA50;
}

.navbar-right li.status-busy h4:after {
    border-color: #EB3E3E;
    background-color: #EB3E3E;
}
.navbar-right li.status-offline h4:after {
    border-color: #8499A1;
    background-color: #8499A1;
}

.messages-container{
    padding: 0;
}

.thumb{
    bottom: 0 !important;
    top: auto !important;
}

li.own .thumb{
    right: 0;
    left: auto !important;
    bottom: 0 !important;
    top: auto !important;
    height: 200px;
}



.chatMsg{
    text-align: left;
    background:#fff;
    padding: 8px;
    border-radius: 6px 6px 6px 0;
    position: relative;
width: auto;
float: left;
margin-left: -10px;
}

li.own .chatMsg{
    text-align: right;
    margin-right: 40px;
    float: right;
    background:#fff;
    padding: 8px;
    border-radius: 6px 6px 0 6px;
    position: relative;
}


li.own .thumb .avatar, .user-card-message .avatar{
    border-radius: 0;
    height: 40px;
}

li.own .thumb .avatar .avatar-image .blurWrap, .user-card-message .avatar .avatar-image .blurWrap{
    display: none;
}

li.own .thumb .avatar .avatar-image {
    border-radius: 0 50% 50% 0!important;
}

.message .thumb .avatar .avatar-image {
    border-radius: 50% 0 0 50%!important;
}

li.own .chatMsg:after{
    content: "";
    position: absolute;
    bottom: 0px;
    right: -11px;
    border: 13px solid transparent;
    border-bottom-color: #fff;
    z-index: 3000;
}

li.own .chatMsg:before{
    content: none!important;
}

.chatMsg:before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: -11px;
    border: 13px solid transparent;
    border-bottom-color: #fff;
    z-index: 3000;
}

.sidebar-right{
    float: right;
    height: 100%;
    position: fixed;
    right: 0px;
    background: #fff;
    padding: 0;
}
.row {
    margin-right: 0;
    margin-left: 0;
    height: 100%;
}

.fixed-title {
position: initial;
background: none repeat scroll 0% 0% #ECF0F1;
display: block;
height: auto;
overflow: hidden;
padding-bottom: 15px;
}

.fixed-title h2 {
    padding: 15px 10px;
}

.messages-container .footer {
background: #E2E8EA;
}

.messages-box{
    margin:0;
}

.messages-box .message{
    display: block;
    overflow: hidden;
}

.main-content{
    margin-top:50px!important;
    position: fixed;
}

.roomOptions li a .fa {
    width: 32px;
    font-size: 14px;
    text-align: center;
    height: 32px;
    vertical-align: middle;
    line-height: 2!important;
    border-radius: 50%;
    border: 2px solid #CCC;
}

.fa-pencil {
    line-height: 1.8 !important;
}

.icon-logout{
    color:#B1C0C5;
    font-size: 1.3em;
}

.roomOptions li a{
    padding: 0!important;
}

.avatar .avatar-image{
border-radius: 50%;
}

.messages-box {
    background:#ECF0F1;
}

.messages-box .message.new-day:before, .messages-box .message.new-day:after{
    background:#ECF0F1;
    border:none;
}

.messages-container .message-form > .users-typing {
    background-color: transparent;
}

.chatMsg .body{
    color:#49606A;
}

.messages-box .message .user {
    color:#8499A1;
}

.user-view{
    padding: 0;
}

.user-view .thumb {
    float: left;
    width: 100%;
height: 200px;
}

.user-view .thumb  .avatar .avatar-image {
    border-radius:0;
}

.flex-tab .content {
    margin-top: 0;
    position: relative;
    height: calc(100% - 60px);
}

.flex-tab .control{
    position: absolute;
    bottom: 0;
}

.userInfo{
    position: absolute;
    height: 70px;
    margin-top:-70px;
    display: block;
    width:100%;
    overflow: hidden;
}

.blurImg{
    filter: blur(6px);
    display: block;
background-color: transparent;
background-size: cover;
background-repeat: no-repeat;
bottom: 0px;
background-position: center bottom;
height: 70px;
}

.blurWrap{
    overflow: hidden;
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 70px;
}

.infoName{
    width:60%;
    float: left;
    height: 100%;
    padding-left: 8px;
padding-top: 15px;
}

.infoName h3{
    width:100%;
    display: block;
    color: #E2E8EA;
    font-weight: bold;
}

.infoName span{
    width:100%;
    display: block;
    color: #B1C0C5;
    font-size: 0.8em;
}

.infoContact{
    float: right;
    height: 100%;
    width:40%;
}



.infoContact ul{
    margin-top:20px;
}

.infoContact ul li{
    float: left;
}

.fa-facebook{
    border: none;
    background: rgb(40, 73, 142);
    border-radius: 50% 2px 2px 50%;
    color: #fff;
    line-height: 2.3;
}


.fa-google-plus{
    border: none;
    background: rgb(196, 65, 48);
    border-radius: 2px 50% 50% 2px;
    color: #fff;
    line-height: 2.3;
}

.side-nav ul a{
    color: #556B75;
    text-shadow: none;
}

.side-nav h3{
    padding: 12px 20px;
    border-bottom: 1px solid rgb(238, 242, 243);
}

.side-nav ul li.active a, .side-nav ul li.active a:hover {
    background-color:#E6F3F8;
    color: #556B75;
    text-shadow: none;
    border-right: 1px solid rgb(43, 154, 201);
}

.side-nav ul li a:hover{
    background-color:#F9FAFA;
    color: #556B75;
    text-shadow: none;
    border-right: 1px solid #D1DADD;
}

.rooms-list .wrapper h3{
    color: #8EA2A9;
    text-shadow: none;
    margin-top:0;
    font-weight: bold;
}

.user-card-room a .avatar .avatar-image .blurWrap{
    display: none;
}

.rooms-list .wrapper h3.active{
    color:rgb(43, 154, 201);
}

.rooms-list .wrapper h3.active .a-plus{
    color:rgb(73, 96, 106);
}

.side-nav .rooms-list > .wrapper{
    padding-left: 0;
}

.side-nav ul a {
    border-radius: 0;
    padding: 12px 20px;
}
.a-plus{
    color: #8499A1;
    top:12px!important;
}

.h3Before{
    position: relative !important;
    right: auto !important;
    top: 0 !important;
    margin-right: 8px;
}

