<template name="sideNav">
	<aside class="side-nav" role="navigation">
		{{#if currentUser}}
			<div class="rooms-list">
				<div class="wrapper">
					{{> starredRooms }}
					{{> channels }}
					{{> directMessages }}
					{{> privateGroups }}
					<h3>
						<a href="{{pathFor 'privateHistory'}}"><i class="fa fa-history h3Before"></i>{{_ "History"}}</a>
					</h3>
					{{#if isAdmin}}
					<h3 class="open-settings">
						<i class="fa fa-cog h3Before"></i>
						{{_ "App_Settings"}}
					</h3>
					{{/if}}
				</div>
			</div>
			<div class="flex-nav hidden">
				<section>
					{{> UI.dynamic template=flexTemplate data=flexData}}
				</section>
			</div>
		{{/if}}
	</aside>
</template>
