<head>
	<title>Rocket.Chat</title>
	<meta charset="utf-8" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="expires" content="-1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="fragment" content="!" />
	<meta name="distribution" content="global" />
	<meta name="rating" content="general" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<meta name="apple-mobile-web-app-title" content="Rocket.Chat">
	<meta name="application-name" content="Rocket.Chat">
	<meta name="msapplication-TileColor" content="#04436a">
	<meta name="msapplication-TileImage" content="/images/logo/mstile-144x144.png?v=3">
	<meta name="msapplication-config" content="/images/logo/browserconfig.xml?v=3">
	<meta name="theme-color" content="#04436a">
	<link rel="canonical" href="https://rocket.chat/" />
	<link rel="manifest" href="/images/logo/manifest.json?v=3">
	<link rel="icon" sizes="any" type="image/svg+xml" href="/images/logo/icon.svg?v=3">
	<link rel="icon" sizes="256x256" type="image/png" href="/images/logo/favicon-256x256.png?v=3">
	<link rel="icon" sizes="192x192" type="image/png" href="/images/logo/android-chrome-192x192.png?v=3">
	<link rel="icon" sizes="128x128" type="image/png" href="/images/logo/favicon-128x128.png?v=3">
	<link rel="icon" sizes="96x96" type="image/png" href="/images/logo/favicon-96x96.png?v=3">
	<link rel="icon" sizes="64x64" type="image/png" href="/images/logo/favicon-64x64.png?v=3">
	<!--
	<link rel="icon" sizes="48x48" type="image/png" href="/images/logo/favicon-48x48.png?v=3">
	<link rel="icon" sizes="32x32" type="image/png" href="/images/logo/favicon-32x32.png?v=3">
	<link rel="icon" sizes="16x16" type="image/png" href="/images/logo/favicon-16x16.png?v=3">
	-->
	<link rel="shortcut icon" sizes="16x16 32x32 48x48" type="image/x-icon" href="/favicon.ico?v=3" />
	<link rel="apple-touch-icon" sizes="57x57" href="/images/logo/apple-touch-icon-57x57.png?v=3">
	<link rel="apple-touch-icon" sizes="60x60" href="/images/logo/apple-touch-icon-60x60.png?v=3">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/logo/apple-touch-icon-72x72.png?v=3">
	<link rel="apple-touch-icon" sizes="76x76" href="/images/logo/apple-touch-icon-76x76.png?v=3">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/logo/apple-touch-icon-114x114.png?v=3">
	<link rel="apple-touch-icon" sizes="120x120" href="/images/logo/apple-touch-icon-120x120.png?v=3">
	<link rel="apple-touch-icon" sizes="144x144" href="/images/logo/apple-touch-icon-144x144.png?v=3">
	<link rel="apple-touch-icon" sizes="152x152" href="/images/logo/apple-touch-icon-152x152.png?v=3">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/logo/apple-touch-icon-180x180.png?v=3">
</head>

<body>
</body>

<template name="main">
	{{#unless subsReady}}

	{{else}}
		{{#unless logged}}
			{{> loginLayout}}
		{{else}}
			{{removeParticles}}
			{{#unless hasUsername}}
				{{> username}}
			{{else}}
				<div id="user-card-popover"></div>
				<div id="rocket-chat" class="menu-nav menu-closed">
					<div class="connection-status">
						{{> status}}
					</div>
					<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">
                                    <img src="/images/logo/logo.svg?v=3" alt="Rocket.Chat">
                                </a>
                            </div>
                            <div class="collapse navbar-collapse">

                               <ul class="nav navbar-nav">

                               </ul>
                               {{#with myUserInfo}}
                                <ul class="nav navbar-nav navbar-right">
                                	{{#if username}}
                                	<li class="status-{{status}} dropdown">
							          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h4>{{username}}</h4></a>
							          <ul class="dropdown-menu">
							            <li><a href="" data-status="online" class="status online"><span>{{_ "Online"}}</span></a></li>
							            <li><a href="" data-status="away" class="status away"><span>{{_ "Away" context="male"}}</span></a></li>
							            <li><a href="" data-status="busy" class="status busy"><span>{{_ "Busy" context="male"}}</span></a></li>
							            <li><a href="" data-status="offline" class="status offline"><span>{{_ "Invisible"}}</span></a></li>
							            <li><a href="" id="avatar"><i class="icon-camera"></i><span>{{_ "Change_avatar"}}</span></a></li>
							            <li><a href="" id="settings"><i class="icon-sliders"></i><span>{{_ "My_Account"}}</span></a></li>
							          </ul>
        							</li>
                                	{{/if}}
                                	<li>
                                       <a href="" id="logout"><i class="icon-logout"></i></a>
                                   </li>
                                </ul>
                                	{{/with}}
                            </div><!--.nav-collapse -->
                    </nav>
					<div class="main-content {{flexOpened}} {{flexOpenedRTC1}} {{flexOpenedRTC2}}">
						{{> Template.dynamic template=center}}
					</div>
					{{> sideNav }}
				</div>
				{{> audioNotification }}
			{{/unless}}
		{{/unless}}
	{{/unless}}
</template>
